@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img, a, button {
  -webkit-tap-highlight-color: transparent;
}

header {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e5e7eb;
  background-color: transparent;
  backdrop-filter: blur(30px);
  z-index: 10;
}

#mobile-menu {
  display: none;
}

#logo {
  color: #111827;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

header a {
  text-decoration: none;
}

.menu-items {
  list-style: none;
  display: flex;
  gap: 24px;
}

.menu-items li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #4b5563;
}

#divider {
  background-color: #f3f4f6;
  width: 2px;
}

.actions {
  padding-left: 6px;
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.actions li a {
  padding: 8px 16px;
  background-color: #111827;
  color: #f9fafb;
  border-radius: 12px;
}

.mobile-menu-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

#adjust {
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.mobile-menu-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-overlay.active #adjust {
  transform: translateX(0);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  /* padding-top: 30px;
  padding-bottom: 16px; */
  padding: 180px 30px 120px 30px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.text-line h1 {
  font-size: 60px;
  line-height: 120%;
  font-weight: bold;
  letter-spacing: -2px;
}

.text-line p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #4b5563;
  padding-top: 8px;
}

.location-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.location p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #4b5563;
}

.status {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 6px;
}

.status span {
  height: 12px;
  width: 12px;
  background-color: #10b981;
  border-radius: 16px;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.status span div {
  height: 12px;
  width: 12px;
  background-color: #10b981;
  border-radius: 16px;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.status p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #4b5563;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.img-adjust {
  padding-left: 80px;
}

.img-container img {
  /* transform: translate(-40px, -40px); */
  position: relative;
  left: -40px;
  top: -40px;
}

.border {
  background-color: #e5e7eb;
}

.about {
  padding: 96px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  background-color: #f9fafb;
}

.about-img-border {
  background-color: #e5e7eb;
  display: inline-block;
  padding: 4px;
}

.about-img-adjust img {
  position: relative;
  left: 30px;
  top: -30px;
}

.about > a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #4b5563;
  padding: 4px 20px;
  background-color: #e5e7eb;
  text-align: center;
  border-radius: 12px;
}

.about-content-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about-img-container {
  width: 100%;
  padding-right: 140px;
  position: relative;
  bottom: -30px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-text-content .text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #4b5563;
}

.heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  padding-bottom: 24px;
}

.text-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-text-content ul {
  list-style: inside disc;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.about-text-content ul li {
  width: 100%;
}

.skill{
  padding: 96px 30px;
}

.skill-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.skill-head {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #4b5563;
  background-color: #e5e7eb;
  padding: 4px 20px;
  display: inline-block;
  border-radius: 12px;
}

.skill-descp {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #4b5563;
}

.tool-container{
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 48px;
}

.tool-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.tool-item img:hover {
  transform: scale(1.2);
  transition: transform 300ms cubic-bezier(.4,0,.2,1);
}

.tool-item p {
  font-size: 18px;
  line-height: 28px;
  color: #4B5563;
}

footer{
  padding: 24px 80px;
  background-color: #F9FAFB;
}

footer p{
  font-size: 14px;
  line-height: 20px;
  color: #4B5563;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 1px) and (max-width: 799px) {
  header {
    padding: 16px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #mobile-menu {
    display: unset;
  }

  #mobile-menu {
    cursor: pointer;
  }

  .menu-items {
    display: none;
  }

  #adjust {
    width: 58%;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #f3f4f6;
  }

  #mobile-logo {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #111827;
    text-decoration: none;
  }

  .logo-actions {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
    padding: 18px 40px 20px 16px;
  }

  .mobile-menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 100%;
    border-top: 1px solid #f3f4f6;
    border-bottom: 1px solid #f3f4f6;
    background-color: #ffffff;
  }

  .mobile-menu-items li a {
    text-decoration: none;
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .mobile-actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 100%;
    background-color: #ffffff;
    height: 100vh;
  }

  .mobile-actions div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-actions div p {
    color: #4b5563;
  }

  .mobile-actions a {
    text-decoration: none;
    padding: 8px 16px;
    color: #f9fafb;
    width: 100%;
    background-color: #111827;
    text-align: center;
    border-radius: 12px;
  }

  .hero {
    flex-direction: column-reverse;
    align-items: center;
  }

  .img-adjust {
    padding-left: 0;
  }

  .border img{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

  .about-img-container {
    width: unset;
    padding-right: unset;
  }

  .about-content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }

  .about-img-adjust img{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

  .skill img{
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}
